<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6nJlJ4bUVQ4Vxce71d_syIi_9oCYVrzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>907694828757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>d.o.kononov.NoteMe</string>
	<key>PROJECT_ID</key>
	<string>noteme-755e1</string>
	<key>STORAGE_BUCKET</key>
	<string>noteme-755e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907694828757:ios:9f9b21a42f82aab788465c</string>
	<key>DATABASE_URL</key>
	<string>https://noteme-755e1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>